/*BEGIN HEADER DIV*/
#header{
  background-color: #000000
}
#logo{
  width:100%;
  height: auto;
  display: inline-block;
  text-align: left;
  background-color: #000000
}
#logo img{
  height: 1%;
  width: 5%;
}
#dropdown{
  width: 11%;
  height: auto;
  float: right;
  display: inline-block;
  vertical-align: top;
  /*top: 0;
  right: 0;*/
  /*background-color:green;*/
}
/* Dropdown Button */
.dropbtn {
  width: 100%;
  background-color: #89619d;
  color: #170122;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;

  /*float:right;*/
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #592a71;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
/*END HEADER DIV*/
/*BEGIN TOP ROW [VIDEO ROW]*/
#topOne{
  padding-top: 1.5%;
  margin-top: -.65%;
  background-color:#170122;
}
/*BEGIN VIDEO BOX*/
#gif{
  width:90%;
  margin-left: 5%;
  margin-bottom: -.65%;
  /*margin-top: 2.5%;*/
  border: 1px solid black;
  display: inline-block;
  position: relative;
  background-color:grey;
}
.video-overlay h1{
  position: absolute;
  left: 0px;
  top: 0px;
  margin: 10px;
  padding: 5px 5px;
  font-family: Helvetica;
  color: #FFF;
  background-color: rgba(50, 50, 50, 0.3);
}
.video-overlay p{
  position: absolute;
  bottom: 0px;
  text-align: center;
  /*margin: 10px;*/
  padding: 5px 5px;
  font-family: Helvetica;
  color: #FFF;
  background-color: rgba(50, 50, 50, 0.3);
}
/*END VIDEO BOX*/
#imgBar{
  width: 90%
  margin-top: -1.3%;
  margin-left: 5.3%;
}
#img{
  width:31.7%;
  display: inline-block;
  margin-left: -.3%;
  margin-bottom: 1%;
  margin-top: -1%;
  position: relative;
  /*background-color:fuchsia;*/
}
.img__overlay{
  position: absolute;
  bottom: 0px;
  text-align: center;
  /*margin-top: -10%;*/
  padding: 5px 5px;
  font-family: Helvetica;
  color: #ffffff;
  background-color: rgba(144, 99, 207, 0.5);
}
/*ENDS TOP ROW*/
/*BEGIN SECOND ROW [PILLAR ROW]*/
#pillarBand{
  width: 100%;
  background-color:#310946;
}
/*Pillar enlarge effect*/
.img__wrap {
  position: relative;
  height: auto;
  width: 30%;
  background-color: #89619d;
  /*transition: all 0.4s ease;*/
}
/*.img__wrap:hover
{
    transform: scale(1.1);
    margin-right: calc(2%);
    margin-left: 2.5%;
}*/
.img__description {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(144, 99, 207, 0.5);
  color: #ffffff;        /*text color*/
  visibility: hidden;
  opacity: 0;
  padding: 1%;
}
.img__wrap:hover .img__description {
  visibility: visible;
  opacity: 1;
}
.img__wrap{
  width:30%;
  display: inline-block;
  margin-left: 2.25%;
  margin-top: 1%;
  margin-bottom: 1%;
}
.img__img{
  padding-top: 5%;
  padding-bottom: 5%;
  display: block;
  margin: auto;
}
.img__description{
  width:90%;
  height: auto;
  margin: 5%;
}
/*END SECOND [PILLAR] ROW*/
/*BEGIN MIDDLE [HAMBURGER] ROW*/
#hamburger{
  padding-top: 1%;
  padding-bottom: 1%;
  width: 100%;
  position: relative;
  display: inline-block;
  background-color:#170122;
}
.toplayer{
  padding: .25%;
  width:95%;
  margin-left: 2.5%;
  text-align: center;
  background-color:#89619d;
  color: #170122;
}
.hiddentoplayer{
  display: none;
  padding: .25%;
  width:95%;
  margin-left: 2.5%;
  margin-top: -.65%;
  margin-bottom: -.7%;
  background-color: #592a71;
  color: #170122;
}
.toplayer:hover + .hiddentoplayer{
  display: block;
}
.middlelayer{
  padding: .25%;
  width:95%;
  margin-left: 2.5%;
  text-align: center;
  background-color:310946;
  color: #cebbd9
}
.hiddenmiddlelayer{
  display: none;
  padding: .25%;
  width:95%;
  margin-left: 2.5%;
  margin-top: -.65%;
  margin-bottom: -.7%;
  background-color: #592a71;
  color: #170122;
}
.middlelayer:hover + .hiddenmiddlelayer{
  display: block;
}
.bottomlayer{
  padding: .25%;
  width:95%;
  margin-left: 2.5%;
  text-align: center;
  /*margin-bottom: -.7%;*/
  background-color:#89619d;
  color: #170122;
}
.hiddenbottomlayer{
  display: none;
  padding: .25%;
  width:95%;
  margin-left: 2.5%;
  margin-top: -.65%;
  /*margin-bottom: -.7%;*/
  background-color: #592a71;
  color: #170122;
}
.bottomlayer:hover + .hiddenbottomlayer{
  display: block;
}
/*END MIDDLE [HAMBURGER] ROW*/
/*BEGIN CAROUSEL ROW*/
.carousel{
  background-color: #310946;
  padding-top: 1%;
  padding-bottom: 1%;
}
.row{
  width: 70%;
  height: 36%;
  margin-left: 15%;
}
.carousel-inner > .item > img {
  width:100%;
  height:36%;
}
.carousel-indicators{
  padding-bottom: 2%;
  /*height: 36%;*/
  width: 64%
}
/*END CAROUSEL ROW*/
/*BEGIN BOTTOM [SOCIAL FEED] ROW*/
/*#bottomFeed{
  padding-top: 1%;
  padding-bottom: 1%;
  background-color:black;
}
#left{
  width: 21.5%;
  display: inline-block;
  vertical-align: top;
  margin-left: 2.5%;
  background-color:skyblue;
}
#right{
  width: 72.75%;
  display: inline-block;
  margin-left: .5%;
  padding: .5%;
  background-color:purple;
}
#panelTop{
  width: 100%;
  background-color:white;
}
#leftnugget{
  width: 33%;
  display: inline-block;
  background-color:lavender;
}
#centernugget{
  width: 33%;
  display: inline-block;
  margin-left: .1%;
  margin-right: .1%;
  background-color:lavender;
}
#rightnugget{
  width: 33%;
  display: inline-block;
  background-color:lavender;
}*/
/*END BOTTOM [SOCIAL FEED] ROW*/
/*BEGIN FOOTER DIV*/
#footer{
  height:10%;
  background-color: #000000;
}
/*END FOOTER DIV*/
